.meetup {
  margin-top: 15px;
  padding-bottom: 5px;
  width: 350px;
  background-color: #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s all;
}

.meetup:hover {
  transform: scale(1.03);
}

.pic {
  width: 350px;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.description {
  padding: 5px;
  margin-bottom: 10px;
}

.btns {
  display: flex;
  gap: 15px;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #810000;
  color: #ccc;
  width: 150px;
  height: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s all ease;
}

.btn:hover {
  background-color: #700000;
}
